.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
  cursor: pointer;
  padding: 0 20px;
}

.navbar-link {
  color: #616668;
  font-size: 14px;
  padding-bottom: 10px;
}
.navbar-link:hover {
  color: $blue;
  text-decoration: none;
  border-bottom: 3px solid $blue;
}

.navbar:before, .navbar:after {
  content: none;
}
