<%= link_to task_list_path(task_list), class: 'notification-remove-tag' do %>
  <div class="notification-card">
    <p>Sua lista favoritada '<%= task_list.title %>' foi atualizada, clique para ver!</p>
  </div>
<% end %>
