<%= link_to '<span class="glyphicon glyphicon-check"></span>'.html_safe, subtask_done_path(subtask) %>
<%= link_to '<span class="glyphicon glyphicon-trash" style="font-size: 15px;"></span>'.html_safe, subtask_path(subtask), method: :delete %>
