<%= link_to '<span class="glyphicon glyphicon-unchecked"></span>'.html_safe, subtask_pendant_path(subtask) %>
<%= link_to '<span class="glyphicon glyphicon-trash" style="font-size: 15px;"></span>'.html_safe, subtask_path(subtask), method: :delete %>
