<%= link_to '<span class="glyphicon glyphicon-ok"></span>'.html_safe, task_done_path(task) %>
<%= link_to '<span class="glyphicon glyphicon-edit"></span>'.html_safe, edit_task_path(task) %>
<%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, task_path(task), method: :delete %>
