<div class="grey-wrapper">
  <div class="container">
    <h1 class="text-center">Listas de tarefas públicas</h1>
    <div class="row">
      <% @task_lists.each do |task_list| %>
        <%= render 'shared/task_list_card', task_list: task_list %>
      <% end %>
    </div>
  </div>
</div>
