.task-list-card {
  background-color: white;
  box-shadow: 1px 1px 1px rgb(200, 200, 200);
  margin: 10px 0px;
  color: $blue;
  transition: all 0.2s ease;
  .task-list-title {
    padding: 5px;
    font-weight: bold;
    background-color: rgba(180, 180, 180, 0.5);
  }
  .task-list-stats {
    padding: 10px 20px;
  }
  &:hover {
    box-shadow: 3px 3px 3px rgb(200, 200, 200);
  }
}
.task-list-card-link {
  &:hover {
    text-decoration: none;
  }
}
